* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}


/* HEADER  */
header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #0929D0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;

}

.logo>img {
    margin-bottom: 10px;
    max-width: 5em;
}

hr {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-toggle {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;

}


nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: white;
    margin-left: auto; /* Mueve el icono a la derecha */
}

#menu {
    display: none; /* Oculta el menú por defecto */
}

#menu.show {
    display: flex; /* Muestra el menú en dispositivos móviles */
    flex-direction: column;
    align-items: center;
    background-color: #0929D0; /* Ajusta el fondo del menú desplegable */
    position: absolute;
    width: 100%;
    top: 70px; /* Ajusta la posición superior para evitar solapamiento con el header */
}

#menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#menu li {
    margin-bottom: 10px;
}

#menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#menu a:hover {
    color: #ffffff80;
}

.logo> a >img {
 
    max-width: 5em;
    margin-top: 10px;
}


/* BODY  */
body {
    margin: 0;
    font-family: 'Neue Haas Grotesk Text Pro', sans-serif;
    background-color: #f8f8f8;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1; 
}
.contact-info-body,
.store-info,
.workshop-info,
.contest-info,
.support-info {
    width: 100%;
    max-width: 800px;
    margin-bottom: 40px;
    background-color: transparent;
    color: #333; 
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.contact-info-body:hover,
.store-info:hover,
.workshop-info:hover,
.contest-info:hover,
.support-info:hover {
    transform: scale(1.05);
}

.contact-info-body h2,
.store-info h2,
.workshop-info h2,
.contest-info h2,
.support-info h2 {
    font-size: 36px;
    margin-bottom: 20px;
    transition: color 0.3s ease;
    border-radius: 15px;
    padding: 5px 10px; 
    border: 2px solid; 
}


.contact-info-body h2 {
    border-color: #0929D0;
    color: #0929D0;
}

.contact-info-body p,
.store-info p,
.workshop-info p,
.contest-info p,
.support-info p {
    font-size: 18px;
    margin-bottom: 15px;
    transition: color 0.3s ease;
}

.store-info p,
.workshop-info p {
    margin-top: 20px;
}

.store-info strong,
.workshop-info strong,
.contest-info strong,
.support-info strong {
    color: #0929D0; 
    transition: color 0.3s ease;
}

.social-icons a {
    color: #0929D0;
    font-size: 24px;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #001170;
}



/* video destello fondo */
body::before,
body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    background: radial-gradient(circle, #0929D0 10%, transparent 80%); 
    background-size: 200% 200%; 
    animation: shine 3s infinite linear;
    opacity: 0.8;
}

@keyframes shine {
    to {
        background-position: -100% -100%; 
    }
}


/* FORMULARIO */
.form-body {
    width: 100%;
    max-width: 400px; 
    margin: 0 auto;
    color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-body h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #0929D0;
}

.form-body p {
    font-size: 16px;
    margin-bottom: 10px;
}

.form-body label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}

.form-body input,
.form-body textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #0929D0;
    border-radius: 5px;
}

.form-body button {
    width: 70%;
    padding: 12px;
    background-color: #0929D0;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-body button:hover {
    background-color: #ffffff;
    color: #0929D0;
}


.form-body button:disabled,
.form-body button[disabled] {
    background-color: #aaa; 
    cursor: not-allowed;
}



/* FOOTER Y MEDIAQUERIES */
footer {
    background-color: #0929D0;
    color: white;
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 0 0 30%;
    margin-bottom: 20px;
}

.footer-left img {
    max-width: 80px;
}

.footer-center form {
    width: auto;
    max-width: 300px;
    margin: 0 auto;
}

.footer-center h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.social-icons {
    margin-top: 1em;
}

.footer-bottom {
    flex-basis: 100%;
    margin-top: 1.5em;
    display: flex;
    justify-content: flex-end;
}

.footer-bottom a {
    font-size: 12px;
    margin-bottom: 0.1em;
    cursor: pointer;
    color: white;
    margin-left: 10px;
}

.footer-bottom a:hover {
    color: #ffffff80;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

ul>li>a {
    color: white;
}

ul>li>a:hover {
    color: #ffffff80;
}

ul li {
    margin-bottom: 10px;
}

.footer-center p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 15px;
    padding: 0.3em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    border: 1px solid #ffffff;
    background-color: #0929D0;
    border-radius: 20px;
}

form label {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 14px;
}

form input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10px;
    background-color: #0929D0;
}

::placeholder {
    color: white;
    opacity: 1;
}

#checkbox {
    margin: 0;
    margin-right: 0.8em;
    margin-left: 1.4em;
}

.button {
    background-color: #ffffff;
    color: #0929D0;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ffffff80;
}

.contact-info h2 {
    font-size: 28px;
}

.contact-info p {
    margin: 0;
    font-size: 14px;
}

.social-icons a {
    color: white;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 1em;
}

.social-icons a:hover {
    color: #ffffff80;
}

.btnfooter {
    position: relative;
    border-radius: 9999px;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: white;
    background-color: #0929CF;
    padding: 0.2rem 0.4rem;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: +0.16px;
    transition: background-color 0.3s ease;
    width: auto;
    margin-left: 3.85em;
}

.btnfooter>a {
    color: #ffffff;
}

.btnfooter>a:hover {
    color: #0929D0;
}

.btnfooter:after {
    position: absolute;
    top: 0;
    right: 0;
    --tw-translate-x: 20%;
    --tw-translate-y: -35%;
    --tw-rotate: -180deg;
    --tw-scale-x: 0;
    --tw-scale-y: 0;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    --tw-content: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M8.87386 0.461548C8.94694 1.56756 9.02001 2.68223 9.33356 3.75354C9.6471 4.82485 10.2176 5.8593 11.137 6.57278C11.8473 7.08815 12.6637 7.46582 13.5369 7.6831C14.7342 8.00638 15.9576 8.24067 17.1957 8.38363C15.1164 8.81736 15.5195 8.70674 14.5883 8.96698C13.4662 9.27926 12.2733 9.66526 11.3256 10.3506C10.2129 11.1551 9.77673 12.2807 9.36653 13.4821C9.07185 14.3496 8.99644 14.4536 8.75127 16.1539C8.66404 14.6597 8.50135 14.0481 8.07229 13.057C7.72339 12.2546 7.36504 11.4306 6.70731 10.806C6.21496 10.3719 5.65082 10.0125 5.03591 9.7412C3.7001 9.0578 2.25267 8.57808 0.75 8.32073C2.01596 8.18193 3.29137 8.02793 4.49132 7.63974C5.69127 7.25155 6.83228 6.59879 7.55602 5.63591C8.62395 4.22846 8.66876 2.39164 8.87386 0.461548Z' fill='white' stroke='black' strokeWidth='1.5' strokeLinecap='square' strokeLinejoin='bevel' /%3E%3C/svg%3E");
    content: var(--tw-content);
}

.btnfooter:hover {
    color: #0929D0;
    --tw-bg-opacity: 1;
    background-color: white;
    --tw-shadow: -4px 3px 0 0 white;
    --tw-shadow-colored: -4px 3px 0 0 white;
    box-shadow: 0 0 #0929CF, 0 0 #0929CF, var(--tw-shadow);
    box-shadow: var(0 0 rgba(0, 0, 0, 0)),
        var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
    color: #0929CF;
    border-color: #0929CF;
}

.btnfooter:hover:after {
    --tw-rotate: 0deg;
    content: var(--tw-content);
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}



/* Tablet */
@media screen and (min-width: 768px) {
    .contact-info-body,
    .store-info,
    .workshop-info,
    .contest-info,
    .support-info,
    .contact-form {
        padding: 2em; 
    }

    header {
        flex-direction: column;
        align-items: stretch;
        flex-direction: column-reverse;
        padding-bottom: 0;
      }
      #menu{
          margin-top: 0;
      }
      .logo {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
      }
    
      nav {
        order: -1;
        margin-top: 10px;
      }
    
      nav ul {
        flex-direction: column;
        align-items: stretch;
      }
    
      nav li {
        margin: 0;
        margin-bottom: 10px;
      }
    
      .menu-toggle {
        display: block;
        position: sticky;
       padding: 0.1em;
      }
    
      #menu {
        flex-direction: column;
        align-items: stretch;
        display: none;
      }
    
      #menu.show {
        display: flex;
      }
    
      #menu ul {
        flex-direction: column;
        align-items: stretch;
        text-align: center;
      }
    
      #menu li {
          margin: 1em;
      }
      #menu li:last-child {
          margin-bottom: 1.8em;
      }
    
      footer{
        flex-direction: column;
        text-align: center;
        align-items: center;
      }
      .footer-right{
        text-align: center;
        align-items: center;
      }
    
      .contact-info-body > h2:first-child{
        margin-top: 1.5em;
    
      }
      .social-icons > a:first-child{
        margin-left: 0;
      }

      .footer-left,
    .footer-center,
    .footer-right {
        flex: 0 0 30%;
        margin-bottom: 20px;
    }
    .footer-center h2 {
        font-size: 24px;
    }
    .footer-center p {
        padding: 0 7em 0 7em;
    }
    .footer-right {
        text-align: right;
    }

    header {
        flex-direction: column;
        align-items: stretch;
        flex-direction: column-reverse;
        padding-bottom: 0;
    }

    #menu {
        margin-top: 0;
    }

    .logo {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

    nav {
        order: -1;
        margin-top: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: stretch;
    }

    nav li {
        margin: 0;
        margin-bottom: 10px;
    }

    .menu-toggle {
        display: block;
        position: sticky;
        padding: 0.1em;
    }

    #menu {
        flex-direction: column;
        align-items: stretch;
        display: none;
    }

    #menu.show {
        display: flex;
    }

    #menu ul {
        flex-direction: column;
        align-items: stretch;
        text-align: center;
    }

    #menu li {
        margin: 1em;
    }

    #menu li:last-child {
        margin-bottom: 1.8em;
    }

    footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer-right {
        text-align: center;
        align-items: center;
    }

    .contact-info>h2:first-child {
        margin-top: 1.5em;

    }

    .footer-center>p {
        padding: 0 7em 0 7em;
    }

    .social-icons>a:first-child {
        margin-left: 0;
    }

    .footer-right {
        margin-bottom: 0;
    }
   
    .footer-columns {
            flex-direction: column;
        }
    
    .footer-columns .column {
            margin-right: 0;
            margin-bottom: 20px;
        }
}

/* Móvil */

@media screen and (max-width: 480px) {

    .contact-info-body h2,
    .store-info h2,
    .workshop-info h2,
    .contest-info h2,
    .support-info h2,
    .contact-form h2 {
        font-size: 1.8em; 
    }

    .contact-info-body,
    .store-info,
    .workshop-info,
    .contest-info,
    .support-info,
    .contact-form {
        padding: 1.5em; 
    }

    .footer-left,
    .footer-center,
    .footer-right {
        flex: 1;
        margin-bottom: 20px;
    }
    .footer-center h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .footer-center p {
        padding: 0 2em 0 2em;
    }
    .footer-bottom {
        font-size: 12px;
    }

    form {
        width: 100%;
    }

    form input,
    form button {
        width: calc(100% - 30px);
        margin-left: 15px;
    }

    .social-icons {
        text-align: center;
    }



    .social-icons a:last-child {
        margin-right: 0px;

    }

    .footer-bottom {
        font-size: 12px;
    }

    form {
        text-align: left;
    }

    #checkbox {
        max-width: 20%;
        text-align: left;
        font-size: 6px;
    }

    .footer-center>p {
        padding: 0 2em 0 2em;
    }

}