* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

:root {

}

#colecciones img {
    max-width: 100%;
    height: auto;
}

#colecciones {
    padding: 2em 4em;
    padding-top: 3em;
    background-color: #0929CF;
}

.fst-italic {
    margin-bottom: 1em;
}

.services1, .services2 {
    padding: 0.5em;
    min-height: 20em;
    border: 2px solid white;
}
  
.services2{
    border: 2px solid white;
    padding: 25px 25px;
    border-radius: 40px;
    margin-bottom: 2%;
    transition: all 0.35s;
}
  
.figure {
    position: relative;
    max-width: 100%;
}

.figure img.Sirv.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}

.figure:hover img.Sirv.image-hover {
    opacity: 1;
}
  
.services1{
    padding: 25px 25px;
    border-radius: 40px;
    margin-bottom: 2%;
    transition: all 0.35s;
}
  
.services1:hover {
    transform: scale(1.03);
}
  
.services2:hover {
    transform: scale(1.03);
}

#taller {
    padding: 2em 0em;
    padding-top: 3em;
}

.talleres {
    display: flex;
}

.talleres1 {
    padding: 2em 2em 2em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.talleres1 h1{
    padding: 0em 0em 0.5em 0em;
    color: #0929CF;
}

.talleres2 img {
    width: 100%;
}

.talleres3 {
    padding: 2em 2em 2em 2em;
    background-color: #0929CF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.talleres3 h1{
    padding: 0em 0em 0.5em 0em;
    color: white;
}

.talleres4 img {
    width: 100%;
}

.title-service, .title-service2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    
  }
  
  .title-service h1, .title-service2 h1 {
      font-size: 5em !important;
      color: white;
  }
  
  .title-service p {
    padding-right: 3em;
    padding-bottom: 2em;
    color: #fff;
    font-size: 1.3em;
  }
  
  .title-services {
      margin: 50px;
      color: var(--black);
   }
   
  
   .title-services h1 {
      font-size: 3em !important;
  }
  
  .title-service2 p {
    padding-right: 3em;
    padding-bottom: 2em;
    color: #fff;
    font-size: 1.3em;
  }
  
  .c-rule {
     width: 100%;
     height: 2px;
     background-color: var(--black);
  }
  
  .right{
    text-align: right;
  }

button {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-transform: none;
    display: flex;
    justify-content: center;
}

.botontalleres {
    position: relative;
    border-radius: 9999px;
    border-width: 1.5px;
    border-color: #0929CF;
    padding: 0.5rem 2rem;
    transition: all 0.35s;
}

.botontalleres a {
    color: #0929CF !important;
    font-size: 1.5em;
}

.botontalleres:hover {
    transform: scale(1.06);
}

.botontalleres1 {
    position: relative;
    border-radius: 9999px;
    border-width: 1.5px;
    border-color: white !important;
    padding: 0.5rem 2rem;
    transition: all 0.35s;
}

.botontalleres1 a {
    color: white !important;
    font-size: 1.7em;
}

.botontalleres1:hover {
    transform: scale(1.06);
}
  
  button,
  [type="button"] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
  }
  
  .btn {
    position: relative;
    border-radius: 9999px;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(0, 0, 0, var(--tw-border-opacity));
    padding: 0.9rem 2rem;
    font-size: 30px;
    line-height: 26px;
    letter-spacing: -0.16px;
    transition-duration: 0.1s;
    transition-timing-function: linear;
  }
  
  .btn-primary {
    --bs-btn-color: black;
    --bs-btn-bg: white;
    --bs-btn-border-color: black;
    --bs-btn-hover-color: black;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: black;
  }
  
  .btn:after {
    position: absolute;
    top: 0;
    right: 0;
    --tw-translate-x: 20%;
    --tw-translate-y: -35%;
    --tw-rotate: -180deg;
    --tw-scale-x: 0;
    --tw-scale-y: 0;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    --tw-content: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M8.87386 0.461548C8.94694 1.56756 9.02001 2.68223 9.33356 3.75354C9.6471 4.82485 10.2176 5.8593 11.137 6.57278C11.8473 7.08815 12.6637 7.46582 13.5369 7.6831C14.7342 8.00638 15.9576 8.24067 17.1957 8.38363C15.1164 8.81736 15.5195 8.70674 14.5883 8.96698C13.4662 9.27926 12.2733 9.66526 11.3256 10.3506C10.2129 11.1551 9.77673 12.2807 9.36653 13.4821C9.07185 14.3496 8.99644 14.4536 8.75127 16.1539C8.66404 14.6597 8.50135 14.0481 8.07229 13.057C7.72339 12.2546 7.36504 11.4306 6.70731 10.806C6.21496 10.3719 5.65082 10.0125 5.03591 9.7412C3.7001 9.0578 2.25267 8.57808 0.75 8.32073C2.01596 8.18193 3.29137 8.02793 4.49132 7.63974C5.69127 7.25155 6.83228 6.59879 7.55602 5.63591C8.62395 4.22846 8.66876 2.39164 8.87386 0.461548Z' fill='white' stroke='black' strokeWidth='1.5' strokeLinecap='square' strokeLinejoin='bevel' /%3E%3C/svg%3E");
    content: var(--tw-content);
  }
  
  .btn:hover {
    --tw-bg-opacity: 1;
    background-color: #0929CF;
    --tw-shadow: -4px 3px 0 0 black;
    --tw-shadow-colored: -4px 3px 0 0 var(--tw-shadow-color);
    box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)),
      var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
  }
  
  .btn:hover:after {
    --tw-rotate: 0deg;
    content: var(--tw-content);
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

