* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

header {
  background-color: #0929D0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#menu li {
  margin-right: 20px;
}

#menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}


footer {
  background-color: #0929D0;
  color: white;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  margin-bottom: 20px;
}

.footer-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-right {
  text-align: right;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

ul li {
  margin-bottom: 10px;
}

.footer-center h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.footer-center p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ffffff;
  border-radius: 15px;
}

form label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 16px;
}

form input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
}

.button {
  background-color: #ffffff;
  color: #0929D0;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ffffff80;
}

.contact-info h2 {
  font-size: 28px;
}

.contact-info p {
  margin: 0;
  font-size: 14px;
}

.social-icons a {
  color: white;
  font-size: 24px;
  margin-right: 20px;
}

.social-icons a:hover {
  color: #ffffff80;
}

.footer-bottom {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: stretch;
  }

  .logo {
    margin-bottom: 10px;
  }

  nav {
    order: -1;
    margin-top: 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: stretch;
  }

  nav li {
    margin: 0;
    margin-bottom: 10px;
  }

  .menu-toggle {
    display: block;
  }

  #menu {
    flex-direction: column;
    align-items: stretch;
    display: none;
  }

  #menu.show {
    display: flex;
  }

  #menu ul {
    flex-direction: column;
    align-items: stretch;
  }

  #menu li {
    margin: 0;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 480px) {
  .footer-left,
  .footer-center,
  .footer-right {
    flex: 1;
    margin-bottom: 20px;
    text-align: center;
  }

  .footer-center h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .footer-center p {
    font-size: 13px;
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    width: 100%;
  }

  form input,
  form button {
    width: calc(100% - 30px);
    margin-right: 15px;
  }

  .social-icons {
    text-align: center;
  }

  .social-icons a {
    margin-right: 15px;
    font-size: 20px;
  }

  .footer-bottom {
    font-size: 12px;
  }
}
