* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

:root {

}
.titulo{
    font-style: italic;
    font-weight: 900;
    font-size: 3em;
    color: #0929D0;
    opacity:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 50;
    height: 8em;
    margin: 0;
    
}

#productGallery {
    display: flex;

    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.293);
    padding: 0 5vw 0 5vw;
   
}
.producto{
    max-width: 26%;
    margin:2em;
}


.cuadro{
    width: 100%;
    border: 2px solid #0929D0;

    background-color: rgba(199, 208, 255, 0.35);

    height: 20
    ;
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.cuadro>.shoppingUtil {
    display: flex;
    align-items: right;
    height: 5vh;
}

.cuadro>.shoppingUtil>img {
    display: flex;
    justify-content: space-between;
align-items: right;
    width: auto;
    max-height: 2.5em;
    object-fit: contain;
    padding-top: 1em;
    padding-right: 1em;
}     

.cuadro>.productImage {
    display:flex;
   align-items:;
    max-width: 100%;
    height: 17em;
    object-fit: contain;
    transform: translate(0em, -5em);
    margin-bottom: -6em;
}

.cuadro>.productInfo {
    display: flex;
    justify-content: space-between;
}

.product>.productInfo>div>p {
    font-size: .75em;
    margin: 0;
    padding-right: 1em;
}

.product>.productName {
    font-family:;
    color: #0929D0;
    font-size: .7em;
    padding-left: .5em;
    margin-bottom: 0;
    
}

.product> .productName :hover {
    
}

.product>.productDescription {
    font-size: .7em;
    padding: 0 .5em 0 .5em;
}


@media screen and (max-width: 768px) {

    .titulo{
        background-size: 16em;
        height: 3.7em;
    }
#productGallery{
    
}
    .producto{
        max-width: 80%;
        height: 20em;
    }
    .cuadro{
        height: 15em;
      
    }
}

@media screen and (max-width: 480px){
  

    .titulo{
        background-size: 10em;
        height: 2.3em;
    }
    .titulo > p{
        font-size: .75em;
    }
#productGallery{
    
}
    .producto{
        max-width: 30%;
        height: 15em;
        margin: 0.47em;

        
    }
    .cuadro{
        height: 8em;
        width: 8.5em;
        align-items: center;
      
    }
    .cuadro > .shoppingUtil > img{
        width: 1.5em;
        padding-top: -1.5em;
        padding-bottom: .5em;
        padding-right: .5em;
        
    }
    .cuadro >.productImage{
        width: 80%;
        height: 5em;
    }
    
}